cycler==0.10.0
Django==2.2
django-admin==1.3.2
django-admin-index==1.0.1
django-admin-tools==0.8.1
django-excel-response2==2.0.8
django-ordered-model==3.1.1
django-six==1.0.4
djangorestframework==3.9.2
iminuit==1.3.3
kiwisolver==1.0.1
libais==0.16
matplotlib==3.0.3
numpy==1.16.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2018.9
scipy==1.2.1
screen==1.0.1
six==1.12.0
sqlparse==0.3.0
tinydb==3.5.0
xlwt==1.3.0
