					<table class="table table-hover table-bordered table-striped">
						<thead>
							<tr>
								<th>
								  Measurement Time Points
								</th>
								<th>
								  Labeling fraction
								</th>
								<th>
								 Total Number of Cells
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									2
								</td>
								<td>
									3
								</td>
							<tr class="table-active">
								<td>
									5
								</td>
								<td>
								  6
                </td>
								<td>
                  7
								</td>
							<tr class="table-success">
								<td>
                  9
								</td>
								<td>
                  10
								</td>
								<td>
                  11
								</td>
							<tr class="table-warning">
								<td>
                  13
								</td>
								<td>
                  14
								</td>
								<td>
                  15
								</td>
							<tr class="table-danger">
								<td>
                  17
								</td>
								<td>
                  18
								</td>
								<td>
                  19
								</td>
						</tbody>
					</table> 
        <button style="font-size:12px">Add line <i class="fa fa-plus"></i></button>

				<div class="form-group">
          <h3> Select model:</h3>

          <!-- Default inline 1-->
          <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input"
              id="defaultInline1" name="inlineDefaultRadiosExample">
                <label class="custom-control-label"
                       for="defaultInline1">Nowakowski (potentially biased)</label>
          </div>

          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
                 <input type="radio" class="custom-control-input"
                 id="defaultInline2" name="inlineDefaultRadiosExample">
                   <label class="custom-control-label"
                     for="defaultInline2">Probabilistic (unbiased)</label>
          </div>
        </div>

        <!--
				<div class="form-group">
						<h2>Select model</h2>
						<label class="radio-inline">
								<input type="radio" name="optionsRadiosInline"
                id="optionsRadiosInline1" value="option1"
                checked>Nowakowski (potentially biased)
						</label>
						<label class="radio-inline">
								<input type="radio" name="optionsRadiosInline"
                id="optionsRadiosInline2" value="option2">Probabilistic (unbiased)
						</label>
				</div>
        -->
