{% load widget_tweaks %}

<form method="post" action="{% url 'fit:form' %}?rows={{row}}">
    {% csrf_token %}
    {{ formset.management_form }}

    {% if formset.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Something is wrong with your data.</strong> For details please check the highlighted fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="form-group">
        <table>
            {% for form in formset %}
            
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th scope="col">{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}

                <tr>
                    {% for field in form.visible_fields %}

                        <td >
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}

                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" data-toggle="tooltip" data-html="true" title=field.errors.as_html_text %}

                                    {% comment %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endcomment %}

                                {% else %}
                                    {#% render_field field class="form-control is-valid" %#}
                                    {% render_field field class="form-control" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}
                        </td>

                    {% endfor %}
                </tr>

            {% endfor %}
        </table>
    </div>
    Depending on your location settings, the optional decimal separator for time is '.' or ','.<br />

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"> <!-- https://getbootstrap.com/docs/4.3/components/button-group/#button-toolbar -->
        <!--div style="margin-right:5px;"--> <!-- https://fontawesome.com/how-to-use/on-the-web/styling/fixed-width-icons -->
        <div class="btn-group mr-2" role="group" aria-label="First group">   
            <button type="submit" name="calc" id="btn-calc" class="btn btn-success">
                    <span class="fas fa-check fa-fw mr-1"></span>Calculate
            </button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="submit" name="add" class="btn btn-secondary">
                <span class="fas fa-plus fa-fw mr-1"></span>Add 10 rows
            </button>
            <button type="submit" name="update" class="btn btn-secondary">
                <span class="fas fa-minus fa-fw mr-1"></span>Clear empty lines
            </button>
         </div>
         <div class="btn-group" role="group" aria-label="Third group">
            <button type="submit" name="clear" class="btn btn-danger">
                    <span class="fas fa-trash fa-fw mr-1"></span>Clear all data
            </button>
        </div>
        <!--/div-->
    </div>
</form>

