<form method="post" action="{% url 'fit:form' row %}">
    {% csrf_token %}
    {% comment %}{{ formset.as_table }}{% endcomment %}
    {{ formset.management_form }}
    <table>
            {% for form in formset %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr>
                    {% for field in form.visible_fields %}
                        <td >
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
    Depending on your location settings, the optional decimal separator for time is '.' or ','.<br>
    <button type="submit" name="calc" class="btn btn-primary">Calculate</button>
    <button type="submit" name="clear" class="btn btn-primary">Clear all data</button> 
    <button type="submit" name="add" class="btn btn-primary">Add 10 rows</button> 
    <button type="submit" name="update" class="btn btn-primary">Clear empty lines</button> 
 
</form>

