{% load widget_tweaks %}

<form method="post" action="{% url 'fit:form' row %}">
    {% csrf_token %}
    {{ formset.management_form }}

    {% if formset.errors %}
        <div class="alert alert-danger" role="alert">
            Something is wrong with your data. For details please check the highlighted fields below.
        </div>
    {% endif %}

    <div class="form-group">
        <table>
            {% for form in formset %}
            
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th scope="col">{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}

                <tr>
                    {% for field in form.visible_fields %}

                        <td >
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}

                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" data-toggle="tooltip" title=field.errors.as_text %}

                                    {% comment %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endcomment %}

                                {% else %}
                                    {#% render_field field class="form-control is-valid" %#}
                                    {% render_field field class="form-control" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}
                        </td>

                    {% endfor %}
                </tr>
                
            {% endfor %}
        </table>
    </div>
    Depending on your location settings, the optional decimal separator for time is '.' or ','.<br />

    <button type="submit" name="calc" class="btn btn-success">Calculate</button>
    <button type="submit" name="add" class="btn btn-secondary">Add 10 rows</button>
    <button type="submit" name="update" class="btn btn-secondary">Clear empty lines</button>
    <button type="submit" name="clear" class="btn btn-danger">Clear all data</button>
</form>

