<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Insert experimental data:</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <!--
      <span class="table-add float-right mb-3 mr-2">
        <a href="#!" class="text-success">
          <i class="fa fa-plus fa-2x" aria-hidden="true"></i></a></span>
      -->
      <button class="text-success" style="font-size:12px"><i class="fa
          fa-plus fa-2x"></i>Add line</button>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Labeling fraction</th>
          <th class="text-center">Measurment Time</th>
          <th class="text-center">Number of Cells</th>
          <th class="text-center">A</th>
          <th class="text-center">B</th>
          <th class="text-center">Sort</th>
          <th class="text-center">Edit</th>
        </tr>
        <tr>
          <td class="pt-3-half" contenteditable="true">1</td>
          <td class="pt-3-half" contenteditable="true">30</td>
          <td class="pt-3-half" contenteditable="true">100</td>
          <td class="pt-3-half" contenteditable="true">A</td>
          <td class="pt-3-half" contenteditable="true">B</td>
          <td class="pt-3-half">
            <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
            <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down"
                  aria-hidden="true"></i></a></span>
          </td>
          <td>
            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
          </td>
        </tr>
        <!-- This is our clonable table line -->
        <tr>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half">
            <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
            <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down"
                  aria-hidden="true"></i></a></span>
          </td>
          <td>
            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
          </td>
        </tr>
        <!-- This is our clonable table line -->
        <tr>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half">
            <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
            <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down"
                  aria-hidden="true"></i></a></span>
          </td>
          <td>
            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
          </td>
        </tr>
        <!-- This is our clonable table line -->
        <tr class="hide">
          <td class="pt-3-half" contenteditable="true">20</td>
          <td class="pt-3-half" contenteditable="true">20</td>
          <td class="pt-3-half" contenteditable="true">20</td>
          <td class="pt-3-half" contenteditable="true">20</td>
          <td class="pt-3-half" contenteditable="true">10</td>
          <td class="pt-3-half">
            <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
            <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down"
                  aria-hidden="true"></i></a></span>
          </td>
          <td>
            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

</div>

