<!--
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Email address
							</label>
							<input type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Password
							</label>
							<input type="password" class="form-control" id="exampleInputPassword1" />
						</div>
						<div class="form-group">
							<label for="exampleInputFile">
								File input
							</label>
-->					 

{#% load crispy_forms_tags %#}
{#% crispy upload_form %#}
{% load static %}

<form action="{% url 'fit:upload'%}?rows={{row}}" method="POST" enctype="multipart/form-data" name="upload_form" id="id_upload_form">
	{% csrf_token %}

	{% if upload_form.errors %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert" style="display: table;"> <!-- https://getbootstrap.com/docs/4.3/components/alerts/#dismissing -->
			<h4 class="alert-heading">Upload error</h4>
			{% for error in upload_form.errors.values %}
				{{ error.as_html_text }}
			{% endfor %}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
		</div>
	{% elif upload_form.is_valid %}
		<div class="alert alert-success alert-dismissible fade show" role="alert" style="display: table;">
			<h4 class="alert-heading">CSV file uploaded</h4>
			You can see, edit and submit your data for calculation <strong>on the left</strong>.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% elif csv_inserted %}
		<div class="alert alert-success alert-dismissible fade show" role="alert" style="display: table;">
			<h4 class="alert-heading">Example data loaded</h4>
			You can see, edit und submit the data for calculation <strong>on the left</strong>.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}

	<!-- Provide required formset data for the ManagementForm: https://docs.djangoproject.com/en/2.2/topics/forms/formsets/#understanding-the-managementform -->
	{{ formset.management_form }}

	<div class="input-group mb-3">
		<div class="custom-file">
			<input type="file" class="custom-file-input" id="id-file" name="file" accept=".csv, text/csv" required novalidate />
			<label class="custom-file-label text-truncate" for="id-file" aria-describedby="btn-upload">Choose file...</label>
		</div>
		<div class="input-group-append">
			<button type="submit" name="upload_csv" id="btn-upload" class="btn btn-secondary">
					<span class="fas fa-file-csv mr-2"></span>Upload <!-- https://getbootstrap.com/docs/4.0/utilities/spacing/ -->
			</button>
			<button type="submit" name="upload_csv" id="btn-upload" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'fit:download' %}?file=brdu_example_data.csv">
						<span class="fas fa-download fa-fw mr-1"></span>Download CSV file with example data
				</a>
				<a class="dropdown-item" href="{% url 'fit:download' %}?file=brdu_example_data.csv&destination=form">
						<span class="fas fa-tasks fa-fw mr-1"></span>Insert example data
				</a>
			</div>
		</div>
	</div>

	<p class="help-block">
    	Upload your data in CSV format with column order as in the table on the left. 
	</p>
</form>

					<!--</div>		 
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Apply normalization
							</label>
						</div> 
					</form>
					-->

