<!--
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Email address
							</label>
							<input type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Password
							</label>
							<input type="password" class="form-control" id="exampleInputPassword1" />
						</div>
						<div class="form-group">
							<label for="exampleInputFile">
								File input
							</label>
-->					 

<form action="{% url 'fit:upload' row %}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
  	{{ upload_form.as_p }}
	<!--
	provide required formset data for the ManagementForm
	# https://docs.djangoproject.com/en/2.2/topics/forms/formsets/#understanding-the-managementform
	-->
	{{ formset.management_form }}
	<!--<div class="form-group">
		<div class="col-md-8">-->
			<div style="color:red">{{upload_form.errors}}</div>
			<div style="color:red">{{file_type_error}}</div>
		<!--</div>
	</div>-->
	<p class="help-block">
    Upload your data in CSV format with <br/>
    column order as in the table on the left. 
	</p>
	<button name="upload_csv" type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>
		Submit
	</button>
</form>
					<!--</div>		 
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Apply normalization
							</label>
						</div> 
					</form>
					-->

